<!doctype html>
<body style="margin: 0;">
  <ul>
    {{#each presentations as |presentation|}}
      <li><a href="{{presentation}}/">{{presentation}}</a></li>
    {{/each}}
  </ul>

  <i><a href="https://git.njoyard.fr/njoyard/presentations">Source</a></i>
</body>
