<!doctype html>
<body>
  <ul>
    {{#each manifests as |prez|}}
      <li>
        <a href="{{prez.presentation}}/">{{prez.title}}</a>
        {{#if prez.description}}
          &ndash;<i>{{prez.description}}</i>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <i><a href="https://git.njoyard.fr/njoyard/presentations">Source</a></i>
</body>
