<!doctype html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/reveal.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/theme/white.min.css">
</head>
<body>
  <div class="reveal">
		<div class="slides">
			{{#each slides as |slide|}}
        {{#if (isMarkdown slide)}}
          <section data-markdown="{{slide.slide}}"></section>
        {{else}}
          <section>
            {{slide.content}}
          </section>
        {{/if}}
      {{/each}}
		</div>
	</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/js/reveal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/markdown/marked.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/markdown/markdown.min.js"></script>
  <script>
    Reveal.initialize();
  </script>
</body>
